body {
    font-family: 'Open Sans', 'sans-serif';
}
body ul {
  margin: 0;
  padding: 0;
  position: relative
}

h1, h4, .title {
  font-family: 'roboto', 'sans-serif';
}

img {
  /* this is limiting the width of the image, so it takes 100% width of the parent */
  max-width: 80%;
}

nav {
  background-color: salmon;
  position: fixed;
  z-index: 1;
  width: 100%
}

nav ul li {
  display: inline-block;
  margin: 0 15px; /* 0 refers to top and bottom an 15px refers to left and right */
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

nav li a {
  text-decoration: none;
  color: salmon;
}

nav li a:hover {
  text-decoration: underline;
}

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

header {
  top: 30px; /* it can also be used for left or right, instead of top */
  position: relative;
  margin-bottom: 70px;
}

h1 {
  font-size: 60px;
  line-height: 80%;
  color: black;
}

h2 {
  font-size: 30px;
  line-height: 80%;
}

h1, h2 {
  font-weight: normal;
}

h4 {
  font-size: 15px;
  line-height: 130%;
}


h2, .magazine {
  color: black;
}

ul li {
  list-style: none;
  margin: 10px 0;
}

p {
line-height: 150%;
}

.button {
  border: 1px solid salmon;
  text-decoration: none;
  color: salmon;
  padding: 10px 10px;
  margin-top: 0px;
  display: inline-block; /*to make it its own block, piece*/
  border-radius: 20px;
  transition: background 0.5s ease-in-out, color0.5s ease-in-out;
  margin-bottom: 0px;
  alignment: center;
}

.button:hover {
  background: salmon;
  color: white;
}

figcaption {
  font-size: 10px;
  margin-top: 10px;
}


.class {
  margin: 70px;
}

.magazine {
  margin: 30px 0;
  padding: 50px;
  background-color: #e5fbdb;
}

footer {
  text-align: center;
  margin: 30px;
}

footer h2 {
  font-size: 30px;
  margin-bottom:30px;
}

.right-alignment {
  text-align: right;
}
